.day {
  width: 100px;
  padding: 10px;
  height: 100px;
  cursor: pointer;
  box-sizing: border-box;
  background-color: rgb(232, 196, 247);
  margin: 5px;
  box-shadow: 0px 0px 3px #f7d3de;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.day:hover {
  background-color: #af33a9;
}

.day + .currentDay {
  background-color: #f1e9f3;
}
.event {
  font-size: 10px;
  padding: 3px;
  background-color: #f7f8f8;
  color: rgb(117, 71, 107);
  border-radius: 5px;
  max-height: 55px;
  overflow: hidden;
}
.padding {
  cursor: default !important;
  background-color: #dacdda !important;
  box-shadow: none !important;
}
